@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- linked google font-family-->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <!-- linking form allignment to centre API -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheetCentreAllignment"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />

    <style>


       
        #containerIndex {
            background: linear-gradient(175deg, #15202b 0%, #15202b 50%, #bfded9 50%, #bfded9 100%);
        }

        h1 {
            color: whitesmoke;
            font-weight: bold;
            font-size: 95px;
            text-align: center;
        }

        h2 {
            color: #ffc0c7;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }

        h3 {
            color: #15202b;
            font-weight: bold;
            font-size: 35px;
            text-align: center;
        }

        h4 {
            color: #15202b;
            font-weight: bold;
            font-size: 27px;
            text-align: center;
        }
       
    </style>
</head>

<body>
    <div class="container-fluid" id="containerIndex">
        <h1> Vote for causes</h1>
        <h2> with the coolest voting website in the United Kingdom </h2>
        <div id="firstStart">
            <div class="row" style="margin-top:150px">
                <h3>
                    Are you looking for a cause?
                </h3>
                <div class="mx-auto col-10 col-md-8 col-lg-3" id="searchIndex">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search for causes" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div style="margin-top: 100px">
                <h4>
                    Frequently asked Questions:
                </h4>
                <div>

                </div>
            </div>
        </div>



    </div>








</body>
