
@{
    ViewBag.Title = "Login";
}

<head>
    <!-- linked google font-family-->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <link href="~/Form.css" rel="stylesheet" />
    <style>
    </style>
</head>

<body id="formsBody">
<div class="container" id="containerForms">
    <div id="cardShare" class="card h-100">
        <h3 style="text-align: center; font-weight: bold;"> Or sign up with: </h3>
        <div>
            <div> <a id="btnShare" class="btn" style="background-color: #3b5998;"><img src="~/Content/Images/facebook.svg" /> Facebook </a></div>
            <div> <a id="btnShare" class="btn" style="background-color: #fa7e1e; color: #15202b;"><img src="~/Content/Images/instagram.svg" /> Instagram </a></div>
            <div> <a id="btnShare" class="btn" style="background-color: #26a7de; color: #15202b;"><img src="~/Content/Images/twitter.svg" /> Twitter </a></div>
            <div> <a id="btnShare" class="btn" style="background-color: #171515;"> <img style="background-color: whitesmoke;" src="~/Content/Images/github.svg" /> Github </a></div>
        </div>
    </div>
    <h1> Log in </h1>
    <form class="px-4 py-3">
        <div class="mb-3">
            <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dropdownCheck">
                <label class="form-check-label" for="dropdownCheck">
                    Remember me
                </label>
            </div>
        </div>
        <button id="btn-submit" type="submit" class="btn">Log in</button>
        <br/>
        <br/>
        <div class="dropdown-divider"></div>
        <a> Don't have an account? </a>
        <a class="dropdown-item" @Html.ActionLink("Sign Up", "SignUp", "Home")</a>
        <div>
            <a> Forgotten password?</a>
            <a class="dropdown-item" @Html.ActionLink("Reset", "Reset", "Home")</a>
        </div>
    </form>
</div>






</body>




