
@{
    ViewBag.Title = "Login";
}

<head>
    <!-- linked google font-family-->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <link href="~/Form.css" rel="stylesheet" />
    

    
    

</head>

<body id="formsBody">
    <div class="container" id="containerForms">
        <h1> Log in </h1>
        <form class="px-4 py-3">
            <div class="mb-3">
                <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="dropdownCheck">
                    <label class="form-check-label" for="dropdownCheck">
                        Remember me
                    </label>
                </div>
            </div>
            <button id="btn-submit" type="submit" class="btn">Log in</button>
            <br />
            <br />

            <div class="dropdown-divider"></div>
            <a> Don't have an account? </a>
            <a class="dropdown-item" @Html.ActionLink("Sign Up", "SignUp", "Home")</a>
            <div>
                <a> Forgotten password?</a>
                <a class="dropdown-item" @Html.ActionLink("Reset", "Reset", "Home")</a>
            </div>
        </form>


    </div>


</body>




