
@{
    ViewBag.Title = "OpenCause";
}
<head>
    <link href="~/Form.css" rel="stylesheet" />

</head>

<body id="formsBody">
<div class="container" id="containerForms">

    <h1> Increase the salary of teachers </h1>
    <form class="px-4 py-3">
        <div class="mb-3">
            <label for="exampleDropdownFormEmail1" class="form-label">Title</label>
            <input type="email" class="form-control" id="exampletitle" placeholder="Your cool title">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Upload a picture of your cause</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <label class="mb-3" for="inputGroupSelect01">Choose a vote target!</label>
                <select class="custom-select mb-3" id="inputGroupSelect01">
                    <option selected value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                    <option value="1000">1000</option>
                </select>
            </div>

        </div>
        <div class="mb-3">
            <div class="mx-auto">
                <span class="input-text" style="font-weight: bold">Brief description</span>
                <textarea id="textBriefDescription" maxlength="200" style="margin-top: 5px;" class="form-control" aria-label="With textarea" placeholder="Please,briefly describe your casue!"></textarea>
            </div>
        </div>
        <div class="mb-3">
            <div class="mx-auto">
                <span class="input-text" style="font-weight: bold">Description</span>
                <textarea id="textDescription" maxlength="1000" class="form-control" aria-label="With textarea" placeholder="Your cause with an cool description!"></textarea>
            </div>
        </div>
        <button id="btn-submit" type="submit" class="btn">Create</button>



    </form>
</div>


</body>
