
@{
    ViewBag.Title = "Reset";
}

<head>
    <!-- linked google font-family-->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <!-- Linking external css file for style-->
    <link href="~/Form.css" rel="stylesheet" />

</head>

<body id="formsBody">
    <div class="container" id="containerForms">
        <form class="px-4 py-3">
            <div style="margin-top: -50px;" id="cardShare" class="card h-100">
                <h3 style="text-align: center; font-weight: bold;"> Or log in with: </h3>
                <div>
                    <div> <a id="btnShare" class="btn" style="background-color: #3b5998;"><img src="~/Content/Images/facebook.svg" /> Facebook </a></div>
                    <div> <a id="btnShare" class="btn" style="background-color: #fa7e1e; color: #15202b;"><img src="~/Content/Images/instagram.svg" /> Instagram </a></div>
                    <div> <a id="btnShare" class="btn" style="background-color: #26a7de; color: #15202b;"><img src="~/Content/Images/twitter.svg" /> Twitter </a></div>
                    <div> <a id="btnShare" class="btn" style="background-color: #171515;"> <img style="background-color: whitesmoke;" src="~/Content/Images/github.svg" /> Github </a></div>
                </div>
            </div>
            <h1> Reset Password </h1>
            <div>
                <a> We will email you with a link to reset your password.</a>
            </div>
            <br/>
            <div class="mb-3">
                <label for="exampleDropdownFormEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
            </div>

            <button id="btn-submit" type="submit" class="btn">Reset</button>
            <br/>
            <br/>

            <div class="dropdown-divider"></div>
            <a> Don't have an account? </a>
            <a class="dropdown-item" @Html.ActionLink("SignUp", "SignUp", "Home")</a>
        </form>
    </div>
</body>

