* {
    font-family: "Source Sans Pro", sans-serif;
}


#containerForms {
    background: whitesmoke;
    padding: 10px;
}

.form-label {
    color: #15202b;
}

h1 {
    color: #15202b;
    font-weight: bold;
    font-size: 45px;
}

.dropdown-item {
    color: #15202b;
}

.form-check-label {
    color: #15202b;
}

.px-4 {
    box-sizing: border-box;
}

.form-control {
    background-color: white;
}

.dropdown-item {
    font-weight: bold;
    color: #04AA6D;
    font-size: 15px;
}

.input-group-text {
    color: #15202b;
}

#btnFb {
    background-color: #15202b;
}

#cardShare {
    background-color: whitesmoke;
    color: #15202b;
    font-weight: bold;
    position: absolute;
    display: inline;
    margin-left: 820px;
    max-height: 275px;
    min-width: 300px;
    top: 200px;
}

#btnShare {
    margin-left: 20%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 180px;
    text-align: center;
}